* {
    padding: 0;
    margin: 0;


}

header {
    margin-bottom: 50px;
    background-color: #39cdd8;
    box-shadow: 0px 3px 10px hsl(125, 97%, 43%);
}

.barra {
    color: white;
    cursor: default;
    font-size: 25px;

}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 22.4px 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    border: 5px solid rgb(245, 245, 245);
    border-radius: 8px;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 5px 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button {
    border: none;
    background-color: #a70101;
    padding: 0x 0px;
    border-radius: 0px;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
}

.row {
   font-family: Arial, sans-serif;
   margin: 20px;
   
}

.row h2 {
   line-height: 1.5; 
}

.copy{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
}


.mobile-menu-toggle {
    display: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav-list ul {
        display: none; 
        flex-direction: column;
        background-color: #39cdd8;
        position: absolute;
        top: 80px;
        right: 0;
        width: 200px;
        padding: 20px;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    }

    .nav-list ul.show {
        display: flex; 
    }

    .mobile-menu-toggle {
        display: block; 
        position: absolute;
        top: 25px;
        right: 30px;
    }

    .nav-item {
        margin: 10px 0;
    }

    .barra {
        display: none; 
    }
}
